body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.circle-container {
    width: 50px; /* Đường kính hình tròn */
    height: 50px; /* Đường kính hình tròn */
    background-color: #3498db; /* Màu nền */
    border-radius: 50%; /* Để tạo hình tròn */
    position: absolute; /* Để định vị */
    top: 20px; /* Khoảng cách từ trên */
    left: 20px; /* Khoảng cách từ trái */
    cursor: pointer; /* Thay đổi con trỏ chuột khi di chuột qua */
}
